@import url('./_reset.css');
@import url('./_variables.css');

* {
	border: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 20px;
}

.modal__section{
    display: none;
}

.menu__header {
	height: 80px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
}

.menu__folders {
	cursor: pointer;
	width: 100px;
	height: 50px;
}

.menu__searchBar {
	width: 50vw;
	height: 50px;
	box-shadow: inset 0 0 5px #ccc;
	padding: 5px;
}

.menu__actions {
	cursor: pointer;
	width: 100px;
	height: 50px;
}

main {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.folderSideBar__section {
    position: fixed;
    width: 0;
    overflow: hidden;
    top: 80px;
	height: calc(100vh - 80px);
	transition: width 0.3s linear;
	background-color: white;
}

.folderSideBar__section--unfold {
	width: 300px;
}

.folderList__ul {
	display: flex;
	flex-direction: column;
    gap: 10px;
    padding-left: 16px;
}

.folderList__li {
	padding: 4px;
    box-shadow: inset 0 0 5px #ccc;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.folderList__li--selector {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
}

.folderList__li--selector > * {
    padding: 10px;
    cursor: pointer;
}

.unfoldable .folderList__button {
	visibility: hidden;
}

.folderList__button {
    width: 20px;
    height: 20px;
	background-color: black;
	border-radius: 50%;
}

.hidden {
	display: none;
}

.actionSideBar__section {
	position: fixed;
	top: 80px;
	right: -100%;
	width: 100vw;
	height: 240px;
	transition: right 1s linear;
	background-color: white;
}

.actionSideBar__section--unfold {
	right: 0%;
}

.actionList__ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.actionList__li {
	width: 90%;
	height: 50px;
	box-shadow: inset 0 0 5px #ccc;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card__div {
	width: 100%;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 10px 20px;
	box-shadow: inset 0 0 5px #ccc;
}

.card__img {
	width: 80px;
	height: 80px;
	object-fit: cover;
}

.cardInfo__div {
	height: 80px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
